h1{
    text-align: center;
    padding-top: -10px;
    color: white;
    float: center;
    
}

 body{
    background-color: cyan;
    float: center;
    text-align: center;
   
}

.move p{
    float: center;
    text-align: center;
}
.back img
{
  
    height:200px;
    width: auto;
    float: center; 
}

.header{
    width: auto;
    height:90px;
    display:block;
    background-color: #101010;
    padding-top:10px;
}
.header h1{
    width: 100%;
    height:80px;
    display:block;
    background-color: #101010;
    float: center;
}

.innerheader{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: lightpink;

}
.partone p{
    font-weight: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parttwo p{
    font-weight: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-weight: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.AnthonyTwo{
    float:right;
    height:300px;
    width: auto;
}
.bio h2{
    font-family: 'Hindi', sans-serif;
    padding-top: 20px;
    font-size: 32px;
    font-weight: 200;
    float:center;
    position: absolute;
    top: 100px;
    left: 685px;
}
.class{
    padding-bottom:-1000px;
}

#footerHi{
    
    float: center;
    
}
#consistency{
    color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	background: coral;
	width: 210px;
	padding: 10px 10px;
    clear: right;
    float:center;
}

#TV {color: black;
	font-family: 'Quattrocento', serif;
	font-size: 25px;
	text-align: center;
	background: coral;
	width: 210px;
    padding: 10px 10px;
    float:center;
}

